{% extends "blog/base.html" %}
{% block content %}
<section class="content-section">
    <h2 class="account-heading">Over ons</h2>
    <p>Hallo, ik ben Dries Van den Brande en welkom bij ons project VUBHUB.</p>
    <p>
        Ik ben een student ingenieurswetenschappen aan de Universiteit van Brussel en 
        samen met men <i>‘partner in crime’</i> Andreas D. hebben wij het <strong>VUB platform</strong> opgestart. 
    </p>
    <p>
        Ons doel is om het studeerleven aan de VUB makkelijker te maken door alle tools die je
        nodig hebt op een plaats te zetten.
    </p>
    <p>Wat je op onze site kan verwachten:</p>
    <ul>
        <li>Een algemeen blog</li>
        <li>Discussies over opdrachten, examens, leerstof, ...</li>
        <li>Lessenrooster</li>
        <li>Persoonlijk profiel</li>
        <li>Cursussen, samenvattingen, oud examens, ...</li>
        <li>...</li>
    </ul>
</section>
{% endblock content %}
